<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::header"></head>
<body>

<div th:replace="fragments::menu"/>

<div class="container" th:object="${user}">
    <h1 th:text="*{fullName}" class="text-primary"/>
    <table class="table">
        <tr>
            <td style="font-weight: bold">Name</td>
            <td th:text="*{fullName}"/>
        </tr>
        <tr>
            <td style="font-weight: bold">UserName</td>
            <td th:text="*{username}"/>
        </tr>
        <tr>
            <td style="font-weight: bold">NHS No.</td>
            <td th:text="*{nhsNo}"/>
        </tr>
        <tr>
            <td style="font-weight: bold">Email</td>
            <td th:text="*{email}"/>
        </tr>
        <tr>
            <td style="font-weight: bold">First Name</td>
            <td th:text="*{first}"/>
        </tr>
        <tr>
            <td style="font-weight: bold">Last Name</td>
            <td th:text="*{last}"/>
        </tr>
    </table>
    <button class="btn btn-primary" onclick="history.back()">back</button>
</div>

</body>
</html>
